<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/item_layout}">
<head>
	<title>Insert title here</title>
	<!-- 개별페이지 전용 스타일시트 영역 -->
	<th:block layout:fragment="style">
		<link rel="stylesheet" th:href="@{/css/item_main.css}" />
	</th:block>
</head>	
<body>
	<th:block layout:fragment="content">
		<h3>상품 메인페이지</h3>
	</th:block>
	
	<!-- 레이아웃 내의 script 프래그먼트 영역에 추가될 스크립트 -->
	<th:block layout:fragment="script">
		<script th:src="@{/js/item_main.js}"></script>
		<script>
			console.log("메인페이지 실행됨111!");
		</script>
	</th:block>
</body>
</html>