<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>타임리프 하이퍼링크 파라미터 확인</h1>
	<div th:text="|params.param1 : ${params.param1}|"></div>
	<div th:text="|params.param2 : ${params.param2}|"></div>
	<div th:text="|params.param3 : ${params.param3}|"></div>
	<div th:text="|param1 : ${param1}|"></div>
	<div th:text="|param2 : ${param2}|"></div>
	<div th:text="|param3 : ${param3}|"></div>
</body>
</html>
























